*{
    margin:0px;
    padding:0;
    box-sizing: border-box;
    justify-content: center;
   
  
  }
  
  .bus-name{
    font-size: 60px;
    color:#e3e2ea;

     

  }
  .bus-info{
    box-sizing: border-box;
    color:white;
  }
  .bus-details{
    font-size: 25px;
    color:black
  }
  .book-now{
    font-size:30px ;
    padding:20px;
    background-color: rgb(243, 246, 61);
    color: cornsilk;
  }
 h1{
  padding:30px;
  border:30px;
  border-style: solid;
  border-color: rgb(211, 239, 33);
  font-size: 80px;
  color:#111111 ;



 }
 body{
  background-color: rgb(89, 203, 221);
  background: linear-gradient(#7867e2,#ec61d0);
 }
 .bus-image4{
  height:400px;
  width:500px;
 }
.bus-image5{
  height:400px;
  width:500px;
}