*{
  margin:0px;
  padding:0;
  box-sizing: border-box;
  justify-content: center;
 

}
body{
  background-color: rgb(249, 220, 78);
  background: linear-gradient(hsl(98, 81%, 83%));
  }
  
.container{
  
 
  border-radius: 5px;
box-sizing:border-box;
margin:10px;
font-size: 20px;
}
form{
  justify-items: center;
   align-items: center;
}
.container input{
  width:100%;
  height:30px;
  border-radius: 4px;
}
.submit input{
  background: #f56969;
  border:3px;
  padding:auto;
  margin:10px;
  height:50px;
  font-size: 50px;
  font-family: 'Times New Roman', Times, serif;
}
.container-left{
  float:left;
width:500px;
  padding:100px;
}
.container-right{
  float:right;
  padding:100px;
  width:500px;
  
  
}
.container-rh{
  float:inherit;
  padding:100px;
  width:500px;
}
.payment{
  padding:5px;
  border-color: black;
  width: 300px;
  
}
.bus-type{
  padding:10px;
  border:5px;
  border-color: black;
  width: 300px;

  
}
.Available-seats{
  padding:10px;
  border:5px;
  border-color: black;
  width: 300px;
  font-family: 'Times New Roman', Times, serif;

}
h1{
  font-size:60px;
  color:#040404;
}
